html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: hidden;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    
  }
